.button {
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    padding: 9px 20px;
    border: none;
    border-radius: 2px;
    font: normal 18px/27px Arial, Helvetica, sans-serif;
    color: #fff;
    background: #62ac15;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
}
.button:hover {
    background: #6fba22;
    transition: all 200ms cubic-bezier(.5, 0, .5, 1) 10ms;
}
.button:active {
    background: #62ac15;
    box-shadow: 0 1px 4px 0 rgb(65,105,23) inset;
}
