.button {
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    padding: 9px 20px;
    border: none;
    border-radius: 3px;
    font: 100 18px/27px 'Lato', Arial, Helvetica, sans-serif;
    outline: 0;
    color: #fff;
    background: #7fc925 linear-gradient(#acdd00, #7fc925);
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    box-shadow: 0 0 2px rgba(0, 0, 0, .7), 0 0 5px rgba(0, 0, 0, .4);
    transition: all 200ms cubic-bezier(.5, 0, .5, 1) 10ms;
}
@media (max-width: 400px) {
    .button {
        padding: 9px 10px;
    }
}
.button:hover,
.button:focus {
    box-shadow: 0 0 2px rgba(0, 0, 0, .7), 0 0 5px rgba(0, 0, 0, .4), inset 0 -19px 18px #acdd00;
}
.button:active {
    background: #62ac15;
    box-shadow: inset 0 12px 28px #62ac15;
}
