.poker {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 200px;
    background: #444;
}
.poker__deposit {
    position: relative;
}
.poker__deposit::before {
    content: attr(data-currency);
}
.poker__notification {
    flex-grow: 1;
}
.poker__board {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0 50px;
}
.poker__board .card__container {
    flex-grow: 0;
    width: 0;
}
.poker__card_selectable {
    cursor: pointer;
    transform: translateY(-20px);
}
.poker__card_selected {
    transform: translateY(0);
}
