html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    height: 100%
    margin: 0;
    padding: 0;
    color: #fff;
}

.poker {
    height: 100%;
    min-height: 200px;
    background: #555;
}
.poker__count {
    position: relative;
}
.poker__count::before {
    content: attr(data-currency);
}
