.card {
    position: relative;
    left: -75px;
    width: 150px;
    height: 200px;
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, .2) 25%, rgba(255, 255, 255, .2) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, .2) 75%), linear-gradient(45deg, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, .2) 25%, rgba(255, 255, 255, .2) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, .2) 75%), rgb(0, 153, 151);
    background-size: 25px 25px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2), 0 0 10px rgba(0, 0, 0, .3);
    color: #333;
}
@media (max-width: 400px) {
    .card {
        left: -60px;
        width: 120px;
        height: 160px;
    }
}
.card__container {
    width: 0;
}
.card_face-up {
    background: #fff;
}
.card_face-up::before,
.card_face-up::after {
    content: attr(data-title);
    font: 24px/27px Georgia;
}
@media (max-width: 400px) {
    .card_face-up::before,
    .card_face-up::after {
        font: 18px/24px Georgia;
    }
}
.card_face-up[data-title~=♥],
.card_face-up[data-title~=♦] {
    color: #ff3100;
}
.card_face-up::before {
    position: absolute;
    top: 9px;
    right: 10px;
}
.card_face-up::after {
    position: absolute;
    bottom: 9px;
    left: 10px;
    transform: rotateZ(180deg);
}
@media (max-width: 400px) {
    .card_face-up::before {
        top: 6px;
        right: 7px;
    }
    .card_face-up::after {
        bottom: 6px;
        left: 7px;
    }
}
