.notification {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 27px;
}
.notification__message {
    font-size: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
}
